*{
    font-family: 'Roboto Mono';
    cursor: pointer;
}
button{
    outline: none;
    border: none;
    background-color: transparent;
    margin: 2%;
    color: #ffffff;
}
body {
    background-color: #659DBD;
    color: #ffffff;
}
body nav{
    margin: 0 2% 0 2%;
    display: flex;
    justify-content: space-between;
}
body nav a{
    color: #fff9b2; 
    text-decoration: none;
    font-size: xx-large;
    font-family: 'Bungee Shade';
}
/*nav #rightNav{
    width: 50%;
}
nav #leftNav{
    width: 50%;
    text-align: right;
}*/

body .textArea{
    display: grid;
    place-items: center;
    margin: 10%;
    font-size: 30px;
}
body .textArea #inputText{
    margin: auto;
    width: 30%;
    border: none;
    border-radius: 10px;
    font-size: 30px;
    padding-left: 1%;
    outline: none;
    background-color: #659DBD;
    color: #ffffff;
}
#inputText::placeholder{
    font-style: italic;
    color: #ffffff;
    font-size: 25px;
}
.results{
    display: flex;
    width: 90%;
    color: #fff9b2; 
    background: rgba(63, 75, 82, 0);
    border-radius: 16px;
    box-shadow: 10px 4px 30px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
}
.results #displayPictures {
    display: relative;
    left: 0;
    margin: 0;
    padding: 0;
}
.results #resultHead {
    width: 100%;
    font-size: larger;
    font-weight: bolder;
    margin-bottom: 2%;
    color: #fff9b2;
}
#hoverGrossWpm, #hoverAcc, #hoverCorrect, #hoverWrong {
    position: absolute;
    right: 20%;
    left: 30%;
    background-color: #000;
    border-radius: 5px;
    padding-left: 3%;   
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    opacity: 0.8;
}
img{
    border-radius: 50%;
    padding: 5%;
    margin-top: 5%;    
}
@media screen and (max-width: 480px){
    img{
        display: none;
    }
} 
#stats{
    width: 100%;
    padding:1% 5% 1% 3%;
    font-size: large;
}
#netWpm {
    display: flex;
    justify-content: space-between;
    border: 1px black;
}
#grossWpm {
    display: flex;
    justify-content: space-between;
}
#accuracy {
    display: flex;
    justify-content: space-between;
}
#correct {
    display: flex;
    justify-content: space-between;
}
#wrong {
    display: flex;
    justify-content: space-between;
}
