*{
    font-family: 'Roboto Mono';
}
button{
    outline: none;
    border: none;
    background-color: transparent;
    color: #ffffff;
    margin: 2%;
}
body nav{
    margin: 0 0 0 2%;
}
body nav a{
    color: #fff9b2; 
    text-decoration: none;
    font-size: xx-large;
    font-family: 'Bungee Shade';
}
body .textArea{
    display: grid;
    place-items: center;
    margin: 10%;
    font-size: 30px;
}
body .textArea #inputText{
    margin: auto;
    width: 30%;
    border: none;
    border-radius: 10px;
    font-size: 30px;
    padding-left: 1%;
    outline: none;
    background-color: #659DBD;
    color: #ffffff;
    
}
#inputText::placeholder{
    font-style: italic;
    color: #ffffff;
    font-size: 25px;
}
.results{
    display: flex;
    width: 90%; 
    background: rgba(125, 182, 214, 0);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
}   
#resultBackground{
    position: absolute;
    display: flex;
    justify-content: center;
    font-family: "Bungee Shade";
    color: #fff9b2;
}
.results #displayPictures {
    display: relative;
    left: 0;
    margin: 0;
    padding: 0;
}
.results #resultHead {
    display: flex;
    width: 100%;
    font-size: larger;
    font-weight: bolder;
    margin-bottom: 2%;
}
img{
    border-radius: 50%;
    padding: 5%;
    margin-top: 5%;    
}
#stats{
    width: 100%;
    padding:1% 5% 1% 3%;
    font-size: large;
}
#netWpm {
    display: flex;
    justify-content: space-between;
    border: 1px black;
}
#grossWpm {
    display: flex;
    justify-content: space-between;
}
#accuracy {
    display: flex;
    justify-content: space-between;
}
#correct {
    display: flex;
    justify-content: space-between;
}
#wrong {
    display: flex;
    justify-content: space-between;
}
